.components__collapse {
   border: 1px solid #FFFFFF1F;
   border-radius: 8px;
   overflow: hidden;
   margin-bottom: 15px;
}

.collapse__accordion {
   display: flex;
   flex-direction: column;
}

.accordion__title {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #FFFFFF1F;
   padding: 16px 13px;
   cursor: pointer;
}

.accordion__button {
   display: flex;
   align-items: center;
   gap: 4px;
   background-color: $main-bg-grey;
   font-size: 12px;
   line-height: 18px;
   color: #FFFFFF8C;
}

.accordion__button-icon {
   transition: all 0.3s;
}

.accordion__content {
   //через макс висоту
   max-height: 0px;
   overflow: hidden;
   background-color: $header-grey-bg;
   transition: 0.3s ease-in-out;

   p {
      padding: 16px 13px;
   }
}