$white-color-text: #FFFFFFD9;

$violet-border-components: #9747FF;

$violet-bg: #907FF029;
$orange-bg: #FFA62A29;
$red-bg: #EE534729;
$green-bg: #3CD6A329;

$header-grey-bg: #0D0D0D;
$main-bg-grey: #1A1A1A;

$violet: #907FF0;
$orange: #FFA62A;
$red: #F07369;
$green: #3CD6A3;

$violet-border: #907FF03D;
$orange-border: #FFA62A3D;
$red-border: #EE53473D;
$green-border: #3CD6A33D;

$button-color: #ffffffd9;
$button-color-grey: #FFFFFF14;

//-----------colors for anitation-------------//

$animation-white: #fafafa;
$animation-orange: #ffa600;
$animation-yellow: #ffee00;

$giant-bg-color: #f5f5f5;