@font-face {
   font-family: 'PingFang SC';
   src:
      url('../fonts/PingFangSCRegular.woff') format('woff2'),
      url('../fonts/PingFangSCRegular.woff2') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}