// .components__slide {}
.slider {
   margin-bottom: 20px;
}

.slider-second {
   visibility: visible;

   @media screen and (max-width: 375px) {
      visibility: hidden;
   }

   .slick-current {
   
      img {
         border: 3px solid #ff000050;
      }
   }
}

.slider__item {}

.slider-second__item {
   padding-left: 0.2%;
   padding-right: 0.2%;
}

img {
   width: 100%;
}

.slider-second__item {

   img {
      border: 3px solid #00000050;
      width: 100%;
   }
}